// colors
$color-downy: #65CBCA;
$color-deep-blush: #ed7d8d;
$color-jungle-green: #28b97e;

$color-fountain-blue: #57c2c0;
$color-bittersweet: #FF7C5F;
$color-mustard: #ffd753;
$color-bali-hai: #8299ac;

$color-jungle-green: #28b67c;
$color-dove-gray: #6a6a6a;
$color-white: #ffffff;
$color-mercury: #e5e5e5;
$color-hit-gray: #a6b5b9;
$color-gray: #939393;
$color-emperor: #555555;
$color-silver: #c7c7c7;
$color-malibu: #5cb4ff;
$color-carnation: #f15a5a;
$color-silver-chalice: #a3a3a3;
$color-tundora: #404040;
$color-black: #000;
$color-tundora: #4e4e4e;
$color-wild-sand: #f6f6f6;
