// colors
$color-downy: #65CBCA;
$color-deep-blush: #ed7d8d;

$color-fountain-blue: #57c2c0;
$color-bittersweet: #FF7C5F;
$color-mustard: #ffd753;

$color-white: #ffffff;
$color-mercury: #e5e5e5;
$color-hit-gray: #a6b5b9;
$color-emperor: #555555;
$color-silver-chalice: #a3a3a3;
