/*------------------------------------*\
    MessagesSummary component
\*------------------------------------*/

@import '~styles/settings/colors';

.MessagesSummary {
  font-size: 14px;
  color: $color-emperor;
  text-transform: uppercase;

  ul {
    list-style-type: none;

    margin: 0;
    padding: 0;
  }

  &-Item {
    height: 30px;

    padding-left: 30px;
    margin-bottom: 20px;

    color: $color-hit-gray;

    border-left: 2px solid transparent;

    // HOVER state
    &:hover {
      background: #f00;
    }

    // ACTIVE state
    &--active {
      border-color: $color-fountain-blue;
    }
  }
}

.MessagesSummary-TotalMessages {
  margin-bottom: 40px;
}

.MessagesSummary-Counter {
  margin-left: 15px;
  color: $color-gray;
}
