/*------------------------------------*\
    MessageBar component
\*------------------------------------*/

@import '~styles/settings/colors';

.MessageBar {
  width: 100%;
  height: 60px;

  background: #fff;

  text-align: center;
}
